[config]
#minecraft stuff
mcpath=/home/oscar/mcserv/
mapurl=http://eth1.nu/minecraft
helpurl=http://eth1.nu/minemon
screen=mc_example
mc_mem=700

gmail=your_gmail_here
gmailpw=your_gmail_pw_here
sendto=target_address_here

#Functions
login_manner=enabled
logout_manner=enabled
timetrack=enabled

#mySQL settings
mysqlhost=localhost
mysqluser=root
mysqlpass=examplepw
mysqldb=mmuser

#rcon
rhost=localhost
rport=25575
rpass=examplepw
